{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <h1>Login</h1>

  <form class="login" action="{{ url_for('login') }}" method="post">
    <p>Enter your Username: </p>
    <input type="text" name="log_username" placeholder="Enter you username" autofocus="on">
    <p>Enter your Password: </p>
    <input type="password" name="log_password"><br>
    <button name="button">Login</button>

  </form>
  <p>Create a Account</p>
  <a href="{{ url_for('register') }}">Register</a>
{% endblock %}
